<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 style="font-size: 24px">
          <strong>{{config.poolTitle}}</strong>
        </h1>
        <strong>Min. payout threshold: {{config.PayoutThreshold}}</strong>, Payouts run twice per day.<br/>
        <span class="label label-success">PROP</span> Stable and profitable pool with regular payouts.
      </div>
      <div class="col-md-3 stats">
        <div><i class="fa fa-users"></i> Miners Online: <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div><i class="fa fa-tachometer"></i> Pool Hash Rate: <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        <div><i class="fa fa-money"></i> Pool Fee: <span id="poolFee" class="label label-success">{{config.PoolFee}}</span></div>
        {{#if stats.model.stats.lastBlockFound}}
        <div><i class="fa fa-clock-o"></i> Last Block Found: <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
      </div>
      <div class="col-md-4 stats">
        <div><i class="fa fa-unlock-alt"></i> Network Difficulty: <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div><i class="fa fa-tachometer"></i> Network Hash Rate: <span>{{format-hashrate stats.hashrate}}</span></div>
        <div><i class="fa fa-bars"></i> Blockchain Height: <span>{{format-number stats.height}}</span></div>
        <div><i class="fa fa-clock-o"></i> Current Round Variance: <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="stats">
    <h4>Your Stats &amp; Payment History</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder="Enter Your Ethereum Address"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> Lookup</span>
        </button>
      </span>
    </div>
  </div>
  <div>
    <h5 class="note note-info">
		Please choose the appropriate poolproxy depending on your Hashrate and the average frequency in which shares are submitted, alternatively according to your own desire. Since 2b is the default value you are on the safe side if you are unsure.
		Ment is the single Worker Hashrate - as an example, if you have 5 Rigs with 200 MH each, which are shown as 5 Rigs, then you have to go to the 4 billion proxy, not the 9 billion! <span class="label label-success"><b>NICEHASH PASSWORD: #</b></span>
		<br><br>
		The payout rounds run at least two times per Day. As long as you can see <a href="{{config.HttpHost}}/#/payments">current payouts</a> all is working and you get paid when you are the next in line!
	</h5>

<table border="0" width="100%">

		<tr>
		<td>
    			<h5 class="note note-info text-center">
			<span class="label label-success">2b</span>&nbsp;<a href="{{config.HttpHost}}/#/help" title="CLICK FOR HELP"><b>RIG HASHRATE &lt; 100 MH/s</b></a>
			<br>
			(difficulty 2 billion)
			<br><br>
			<b>Stratum Mining:</b>
			<br><br>
			<code>stratum+tcp://{{config.StratumHost}}:{{config.StratumPort2b}}</code>
    			<hr>
			<b>Getwork Mining:</b>
			<br><br>
      			<code>{{config.HttpHost}}:{{config.HttpPort2b}}</code>
    			</h5>
		</td>
		<td>
    			<h5 class="note note-info text-center">
			<span class="label label-success">4b</span>&nbsp;<a href="{{config.HttpHost}}/#/help" title="CLICK FOR HELP"><b>WORKER / NICEHASH 100 - 800 MH/s</b></a>
			<br>
			(difficulty 4 billion)
			<br><br>
			<b>Stratum Mining:</b>
			<br><br>
			<code>stratum+tcp://{{config.StratumHost}}:{{config.StratumPort4b}}</code>
    			<hr>
			<b>Getwork Mining:</b>
			<br><br>
      			<code>{{config.HttpHost}}:{{config.HttpPort4b}}</code>
    			</h5>
		</td>
		<td>
    			<h5 class="note note-info text-center">
			<span class="label label-success">9b</span>&nbsp;<a href="{{config.HttpHost}}/#/help" title="CLICK FOR HELP"><b>WORKER / NICEHASH &gt; 800 MH/s</b></a>
			<br>
			(difficulty 9 billion)
			<br><br>
			<b>Stratum Mining:</b>
			<br><br>
			<code>stratum+tcp://{{config.StratumHost}}:{{config.StratumPort8b}}</code>
    			<hr>
			<b>Getwork Mining:</b>
			<br><br>
      			<code>{{config.HttpHost}}:{{config.HttpPort8b}}</code>
    			</h5>
		</td>
		</tr>
	</table>

    
<h4 class="note note-info text-center">
	<b>Support:</b>
	<br><br>
	Discord:&nbsp;&nbsp;join <a href="https://discord.gg/z4faFxD" target="_new">PIRL DISCORD</a>
	<br>
	<font size="-1">(direct Message to the Pool Operator: hashgoal@gmail.com)</font>
    </h4>

  </div>











</div>
